



		h1 {
			color: #99886A;
			background-color: #000000;
			font-family: 'Eczar', serif;
			font-size: 36px;
		}
		
		p {
			color: #C7B089;
			background-color: #000000;
			font-family: 'Lato', sans-serif;
			font-size: 18px
		}
		.callOutP {
			background-color: #000000;
		}

		#dp{
			background-color: #000000;
		}

		.thumbnail {
			height: 50%;
			border-width: 2px;
			border-color: #000000;
		}

		a{
			color: #ffffff;
		}

		ol {
			background-color: #000000;
		}
		ul {
			background-color: #000000;
		}
		
		

		a:visited {
			color: #e8cd9fff;}

		a:hover {
			color: #4D8924;
			text-decoration: underline;}

		li {
			display: inline;
			margin-right: 10px;
		}
		
		.page {
			border: 1px solid #000000;
			background-color: #000000;
			padding: inherit;}
		div {
			
			background-color: #000000;
			border-width: 2px
			}
		.col {border-style: solid;
			float: left;
			width: 30%;
			padding: 10px;
			}
				.clear {
					clear: left;
				}
				.header{
					background-color: yellow;

				}
				.footer{
					background-color: blue;

				}
				.col1{
					background-image:url("images/headshot.jpg");
					height:  800px;
				}
				h1{color: orange;}
				p{color: white;
					font-size: 18px;}

	
